/* ELEMENTO */

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  margin-bottom: 50px;
}

/* CLASE */

.card {
  border: 2px solid black;
  border-radius: 5px;
  width: 300px;
  padding: 15px;
  display: inline-block;
  margin-right: 2%;
}

.image > img {
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 100%;
}

.controls {
  margin-top: 10px;
}

.margin {
  margin-right: 5%;
}

.margin-small {
  margin-right: 2%;
}
