/* PERRICOS */

* {
  box-sizing: border-box;
}

body {
  margin: 48px;
}

.dog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.dog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: calc((100% - 96px) / 5);
  box-shadow: 2px 8px 15px 0px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 24px;
  overflow: hidden;

  & img {
    width: 100%;
    border-radius: 5px;
  }
}

.like {
  margin-right: 12px;

  &:hover {
    background-color: rgb(0, 190, 28);
    border-color: green;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
  }
}

.dislike:hover {
  background-color: rgb(193, 0, 6);
  border-color: red;
  color: rgb(223, 223, 223);
  transition: all 0.2s ease-in-out;
}

button {
  color: rgb(0, 0, 0);
  border: 2px solid rgb(175, 175, 175);
  transition: all 0.2s ease-in-out;
}

.dog__votes {
  display: flex;
  gap: 12px;
  justify-content: center;
}
